
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'montserrat-black';
    font-size: medium;
}
#title{
    background-color: #ff4c68;
    
        }
  h1{
    font-family: 'montserrat-black';
    size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder ;
     } 
.conatiner-fluid{
                    padding:3% 15%;   
                 }
 .navbar{
    padding: 0 0 4.5rem;
 }
 .nav-item{
    padding: 0 18px;
 } 
 .nav-link{
    font-size: 1.2rem;
    font-family: 'montserrat-light';
 }               
 .navbar-brand{
    font-family: "ubuntu";
    font-size: 1.5rem;
    font-weight: bolder;
 }  
 .download-btn{
   
 } 
 .nav-item:hover{
    background-color: rgb(10, 10, 10);
    font-size: larger;
    font-weight: bolder;
    border-radius: 10%;
 } 
 .title-img{
    width: 20%;
    height: auto;
    transform: rotate(25Deg);
    position: absolute;
    right: 300px;
 } 
 #features{
        padding: 3% 15%;
        position: relative;
        background-color: #ffff;
        z-index: 1;
 } 
 .feature-box{
   text-align: center;
   padding: 4.5%;
 }
 h3{
    font-family: 'montserrat-bold';
    font-weight: 700;
 } 
 p{
    color: #8f8f8f;
 }
 .feature-box{
    text-align: center;
    align-items: center;
    padding: 5%;
 }  
 .icon{
        color: #ef8172;
        margin-bottom: 1rem;
        font-size: larger;
        line-height: 1.5;

 } 
 .icon:hover{
    background-color: #ff4c68;
    margin-bottom: 1rem;
    border-radius: 100%;
    border-width: 50px;
} 
h2{
   font-family: 'montserrat-bold';
}           
#testimonials{
      text-align: center;
      background-color: #ff4c68;
      color: azure;
}
.testi-img{
         width: 20%;
         border-radius: 100%;
         margin: 20px;
}

#press{
   background-color: black;
   text-align: center;
   padding-bottom: 3%;
}
.press-logo{
   width: 15%;
   margin:20px 20px 50px;
}
.carousel-item{
   padding: 7% 15%;
}
.btn:hover{
      border-color: black;
}
#pricing{
   padding: 100px;
   
}
.pricing-col{
   padding: 3% 2%;
}
#cta{
   background-color: #ff4c68;
   color: azure;
   padding: 7% 15%;
   text-align: center;

}
.cta-heading{
   font-family: 'montserrat-black';
   font-size: 3.5rem;
   line-height: 1.5;
  
}
#footer{
   padding: 7% 0 15%;
   background-color: azure;
   text-align: center;
}
@media (max-width: 1028px){
   .title-img{
      position: static;
      transform: rotate(0);
      width: 30%;
   }
   #title{
      text-align: center;
      
          }

}
.social-icon{
   margin:  20px 10px;
}
a{
   color: rgb(5, 5, 5);
   font-family: 'montserrat-black', serif;
   font-weight: 1000;
   text-decoration: none;
   margin: 10px 20px;
   padding: 20px 0px;
}
a:hover{
   color: #ff4c68;
}
#copyright{
   color: #ff4c68;;
   font-weight: 900;
}